bs4==0.0.1
requests==2.22.0
Flask==1.0.2    
Flask-Admin==1.5.3    
Flask-Bcrypt==0.7.1    
Flask-Cache==0.13.1   
Flask-Cors==3.0.6    
Flask-Login==0.4.1    
Flask-LoginManager==1.1.6    
Flask-RESTful==0.3.6    
Flask-SQLAlchemy==2.3.2    
Flask-WTF==0.14.2
profanity-check==1.0.3 
vaderSentiment==3.2.1  
textblob==0.15.2   