{% extends "layout.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<!-- <h1> Welcome to the Home Page! </h1> -->
<div class ="speccontainer card-panel hoverable paras">
      <h2 class ="blue-text text-darken-2 center">Welcome to the Home Page</h2>
    </div>
<div class="speccontainer">
  <!-- Archived Feeds Stored in DB -->
     <div class="card hoverable">
            <div class="card-image">
              <img src="static/homePage/fetchHome.jpg">
              <span class="card-title">Start Swizzlin</span>
               <a class="btn-floating halfway-fab waves-effect waves-light red" href="{{ url_for('prefform') }}" >
                <i class="material-icons">unarchive</i>
               </a>

            </div>
            <div class="card-content">
              <p>Click Swizzle! to view all fecthed feeds, news and posts in one place for easy viewing</p>
            </div>
    </div>
    <!-- Dashboard Redirects to this page -->
    <div class="card hoverable">
            <div class="card-image">
              <img src="static/homePage/dashHome.jpg">
              <span class="card-title">Dashboard</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="{{ url_for('feedboard') }}" >
               <i class="material-icons">view_compact</i>
              </a>
            </div>
            <div class="card-content">
              <p>LOREM IPSUM LOREM IPSUM LOREM IPSUM</p>
            </div>
    </div>
</div>
{% else %}
<h1 class="card-panel blue-text text-darken-2 paras">Feeds. News. Posts. in a Swizzl!</h1>
{% endif %}
{% endblock content %}