<!-- Main Layout Page -->


<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- BootStrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Semantic UI Label-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/label.min.css">

    <!-- External CSS -->  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='parallax.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ui.css') }}">

    <!-- External JS -->
    <script type="text/javascript" src="{{ url_for('static', filename='viewpost.js') }}"></script> 
    
    <!-- Google Font Link -->
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Open+Sans+Condensed:300|Raleway|Teko|Ibarra+Real+Nova&display=swap" rel="stylesheet">

   
    <title>Swizzl</title>
</head>
<body>
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top light-blue darken-3">
        <div class="container">
          <a class="navbar-brand mr-4 title " href="/">Swizzl</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
              {% if current_user.is_authenticated %}
              <a class="nav-item nav-link" href="{{ url_for('admin.index') }}">Admin</a>
              {% else %}
              {% endif %}
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav ">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              {% endif %}
          </div>
        </div>
      </nav>
      {% block content %}
      {% endblock %}
      <!-- <script type="text/javascript">$(document).ready(function(){$('.tabs').tabs();});</script>
      <script>$(document).ready(function(){$("#positive").click(function(){$("#posCard").show();});$("#negative").click(function(){$("#posCard").hide();});});</script> -->
</body>
</html>