{% extends "layout.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="viewpostcont">

	{% for i in post %}

	<div class="card hoverable">
    	<div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">{{ i.title}}</span>
	      <p><a href="{{ i.link }}"> Click here to read more</a></p>
		  {% if i.tbscore|float > 0.5 %}
		  	<p>Subjective</p>
		  {% else %}
		  	<p>Objective</p>
		  {% endif %}
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">{{ i.title}}<i class="material-icons right">close</i></span>
		  <p>{{i.linkdata}}</p>	    
		</div>
	</div>

	{% endfor %}

</div>
{% else %}
<h1>Please Log In to continue.....</h1>
{% endif %}
{% endblock content %}