{% extends "layout.html" %}
{% block content %}
{% if current_user.is_authenticated %}
 
 <!-- Switch -->


 <div class="majorpost">

 	<div class = "card hoverable">

 		<h5 class ="light-blue-text text-darken-4" style="text-align:center;">Preferences</h5>

			 <p>Sentiment</p>
			 <div class="innerpref">
			 <button id="pos" class="ui green basic button" >Positive Feeds</button>
			 <button id="neg" class="ui red basic button" >Negative Feeds</button>
			 </div>

	</div>  <!--End of Pref Card-->

	<div class="viewpostcont">

		{% for i in post %}

			{% if i.vaderscoreComp|float >= 0.05 %}

			<!-- Positive Sentiment Card ID = 1 -->

			<div id="{{i.id}}" class="card hoverable pos">

					<!-- Sentiment Label -->
					<div class="ui raised segment">
						<a class="ui green label">Positive Sentiment</a>
					</div>

					<div class="card-image">
						<img src="{{i.linkdata}}">
					 </div>

					<div class="card-content activator">

						<p>{{ i.title}}</p><i class="material-icons right">open_in_browser</i>
						
					</div>

					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Insights<i class="material-icons right">close</i></span>
						<div class="ui raised segment">
						{% if i.vaderscoreNeut|float >=0.8 %}
							<a class="ui green label">Highly Neutral Content</a>
						{% elif i.vaderscoreNeut|float >=0.5 %}
							<a class="ui olive label">Medium Neutral Content</a>
						{% else %}
							<a class="ui yellow label">Low Neutral Content</a>
						{% endif%}
						</div>
						<br>
						<div class="ui raised segment">
						{% if i.vaderscorePos|float >= i.vaderscoreNeg|float %}
							<a class="ui green label">Positive Weightage {{i.vaderscorePos}} > {{i.vaderscoreNeg}} </a>
						{% else %}
							<a class="ui yellow label">Negative Weightage {{i.vaderscoreNeg}} > {{i.vaderscorePos}}</a>
						{% endif%}
						</div>
						<br>
						<div class="ui raised segment">
						{% if i.tbscore|float >= 0.5 %}
							<a class="ui teal label">Subjective Content {{'%0.2f'| format(i.tbscore|float)}}</a>
						{% else %}
							<a class="ui blue label">Objective Content {{'%0.2f'| format(i.tbscore|float)}}</a>
						{% endif%}
						</div>
					</div>

					<div class="card-action">
						<p><a href="{{ i.link }}"> Click here to read more</a></p>
					</div>					
			 </div>


			{% else %}
			
			<!-- Negative Sentiment Card -->

			<div id="{{i.id}}" class="card hoverable neg">

					<!-- Sentiment Label -->
					<div class="ui raised segment">
						<a class="ui red label">Negative Sentiment</a>
					</div>

					<div class="card-image">
						<img src="{{i.linkdata}}">
					 </div>
					
					<div class="card-content activator">

						<p>{{ i.title}}</p><i class="material-icons right">open_in_browser</i>
					

					</div>

					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Insights<i class="material-icons right">close</i></span>
						<div class="ui raised segment">
						{% if i.vaderscoreNeut|float >=0.8 %}
							<a class="ui green label">Highly Neutral Content</a>
						{% elif i.vaderscoreNeut|float >=0.5 %}
							<a class="ui olive label">Medium Neutral Content</a>
						{% else %}
							<a class="ui yellow label">Low Neutral Content</a>
						{% endif%}
						</div>
						<br>
						<div class="ui raised segment">
						{% if i.vaderscorePos|float >= i.vaderscoreNeg|float %}
							<a class="ui green label">Positive Weightage {{i.vaderscorePos}} > {{i.vaderscoreNeg}} </a>
						{% else %}
							<a class="ui red label">Negative Weightage {{i.vaderscoreNeg}} > {{i.vaderscorePos}}</a>
						{% endif%}
						</div>
						<br>
						<div class="ui raised segment">
						{% if i.tbscore|float >= 0.5 %}
							<a class="ui teal label">Subjective Content {{'%0.2f'| format(i.tbscore|float)}}</a>
						{% else %}
							<a class="ui blue label">Objective Content {{'%0.2f'| format(i.tbscore|float)}}</a>
						{% endif%}
						</div>
					</div>

					<div class="card-action">
						<p><a href="{{ i.link }}"> Click here to read more</a></p>
					</div>					
			 </div>
				
			{% endif %}

		{% endfor %}

	</div> <!--End of View Post Cont-->

</div> <!--End of Major Cont-->

{% else %}

<h1>Please Log In to continue.....</h1>

{% endif %}
{% endblock content %}