{% extends "layout.html" %}
{% block content %}
 <div align='center'>
    <form action = "http://localhost:5000/feedboard" method = "POST">
            <p><font size="10" color="black">Search DB</font></p>
            <p align="right"><font size="5" color="black">Pick Genre :  <input type = "text" name = "Search" ></font></p>
            <p align="right"><input type = "submit" value = "submit " ><a href="{{ url_for('postview') }}"></a></p>
            
       </form>
    <div>
{% endblock content %}