/* https://www.minifier.org/ */

.title{
  font-family: 'Bebas Neue', cursive;
  font-size: 55px;
}
.paras{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 65px;
  color: white;
}
.parashome{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 200px;
  color: white;
}
.hometext{
  font-family: 'Ibarra Real Nova', serif;
  color: black;
}
.phome{
  font-family: 'Raleway', sans-serif;
}
.innerPref{
  margin:25px 50px 50px 100px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1em;
}
.wrapper{
  grid-gap: 1em;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  margin-left: 30px;
  margin-right: 30px;
}
.innerPost{
  margin:0px 0px 0px 0px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1em;
  grid-template-rows: auto;
}
.speccontainer{
  margin:25px 50px 50px 100px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1em;
  grid-template-rows: auto;
}
.viewpostcont{
  margin:25px 50px 50px 100px;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 1em;
}
.majorpost{
  margin:25px 50px 50px 100px;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 250px 500px;
  grid-gap: 1em;
}
.homecont{
  margin:25px 50px 50px 100px;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 1em;
}
.heading{
  margin:25px 50px 50px 100px;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 40% 60%;
}

.homebody{
  background-image:url('homePage/exp2Zd.jpg');
  background-attachment: fixed;
  background-size:100%;
}

.feedbody{
  background-image:url('feedsPage/feedsbg.jpg');
  background-size:100%;
}

img
{
background-image:url('feedsPage/main.jpg');
}