.parallax{
background-image: url('homePage/fruit1Zd.jpg');
min-height: 500px; 
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.parallax2{
background-image: url('homePage/infoZd.jpeg');
min-height: 500px; 
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.parallax3{
background-image: url('homePage/sentimentZd.jpg');
min-height: 500px; 
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.parallax4{
background-image: url('homePage/subObjZd.jpg');
min-height: 500px; 
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.parallaxhome{
background-image: url('homePage/homeZd.jpg');
min-height: 500px; 
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.parallaxhome2{
background-image: url('homePage/home2Zd.jpg');
min-height: 500px; 
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.parallaxmac{
background-image: url('feedsPage/macDesk1Zd.jpg');
min-height: 500px; 
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.parallaxcity{
background-image: url('feedsPage/cityZd.jpg');
min-height: 500px; 
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.parallaxfeedmain{
background-image: url('feedsPage/mainZd.jpg');
min-height: 500px; 
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}